@use "../../styles/" as u;

.main-section-wrapper {
  display: flex;
  width: 100%;
  border-radius: 5px;
  max-height: 550rem;

  @include u.breakpoint(lg) {
    animation: slideIn 1s;
  }
}

.banner {
  width: 0%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  @include u.breakpoint("md") {
    width: 50%;
    animation: fadeIn 0.5s;
  }
}

.form-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--opacity-black-clr);
  align-items: center;
  justify-content: center;

  image-rendering: auto;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  image-rendering: -webkit-optimize-contrast;

  /* Responsive */
  @include u.breakpoint("md") {
    width: 50%;
  }
}
