.separator-without-text {
  width: 80%;
  border: 1em solid transparent;
  padding: 0.5px;
  background-color: var(--grey-clr);
  background-clip: padding-box;
}

.separator-with-text {
  width: 80%;
  align-items: center;
  display: flex;
  text-align: center;
  padding: 10px;
  font-size: 1.2rem;

  &::before,
  &::after {
    display: block;
    content: "";
    flex: 1;
    border-bottom: 1px solid var(--grey-clr);
  }

  &:not(:empty)::before {
    margin-right: 0.25em;
  }

  &:not(:empty)::after {
    margin-left: 0.25em;
  }
}
