@use "../util/" as u;

.social {
  width: 80%;
  display: flex;
  flex-direction: column;

  @include u.breakpoint(sm) {
    flex-direction: row;
    justify-content: space-evenly;
  }

  &__link {
    text-decoration: none;
    background-color: transparent;
    display: flex;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    color: var(--white-clr);
    padding: 0.2em;
    width: 100%;
    margin: 0.3em 0;

    @include u.breakpoint(sm) {
      width: 30%;
    }

    &--fb {
      background-color: var(--facebook-theme-clr);
    }

    &--gg {
      background-color: var(--google-theme-clr);
    }

    &--ap {
      background-color: var(--apple-theme-clr);
    }

    &:hover {
      color: var(--white-clr);
      transform: scale(1.05);
      transition: 0.2s;
    }
  }

  &__icon {
    padding: 5px 2.5px 5px 5px;
    align-self: center;
    font-size: 1.6rem;

    @include u.breakpoint(md) {
      font-size: 1.1rem;
    }

    @include u.breakpoint(lg) {
      font-size: 1.4rem;
    }
  }

  &__name {
    padding: 5px 5px 5px 2.5px;
    align-self: center;
    font-size: 1.6rem;

    @include u.breakpoint(md) {
      font-size: 1.1rem;
    }

    @include u.breakpoint(lg) {
      font-size: 1.4rem;
    }
  }
}
