@use "../../styles/" as s;

.header {
  /* Position */
  text-align: center;
  padding-top: 2em;

  /* Style */
  font-size: 2.8rem;
  font-weight: 500;
  color: var(--light-grey-clr);
}

.form-body {
  width: 80%;
  display: flex;
  flex-direction: column;
}
