@use "../../styles/" as bp;

.overlay {
  position: fixed;
  top: 0;
  left: 0;

  // Keep popup in middle of modal
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: var(--opacity-black-clr);

  &.transparent {
    background-color: transparent;
  }
}
