@use "../../styles/" as s;

// General
.row-center {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col-center {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-right {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.no-gutter {
  padding: 0;
}

.d-block-below-sm {
  display: block;

  @include s.breakpoint(md) {
    display: none;
  }
}

.d-block-below-lg {
  display: none;

  @include s.breakpoint(md) {
    display: block;
  }

  @include s.breakpoint(lg) {
    display: none;
  }
}

// Header
.header {
  position: relative;
  display: flex;
  align-items: center;

  height: 7rem;
  border-bottom: 1px solid var(--tiffany-blue-clr);
}

.logo-link {
  background-color: transparent;
  text-decoration: none;

  .logo-img {
    height: 5rem;
  }
}

.primary-nav {
  display: flex;
  justify-content: center;
  list-style: none;
  text-decoration: none;
  background-color: transparent;
  margin: 0;

  .nav-item {
    padding: 1em;
    font-size: 1.8rem;
    font-weight: 500;

    color: var(--dark-black-clr);

    &:hover {
      color: var(--primary-clr);
    }
    &.nav-item--category:hover .category-section {
      display: block;
    }
  }
}

.sub-nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;

  font-size: 1.6em;

  &__item {
    position: relative;
    padding: 0.2em;
  }

  &__item.user:hover .user-options {
    display: block;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--medium-black-clr);

    &:hover {
      cursor: pointer;
      color: var(--primary-clr);
    }
  }
}

.user-options::before {
  position: absolute;
  content: "";
  z-index: 5;
  display: block;
  width: 100%;
  height: 20px;
  top: -11px;
}

.user-options {
  @include s.reset-list;
  position: absolute;
  z-index: 5;
  top: 1.7em;
  left: -10px;
  display: flex;
  flex-direction: column;

  animation: growFromCenter 0.25s;

  width: 6em;
  border-radius: 5px;
  background: var(--opacity-black-clr);

  display: none;

  &__separate {
    padding: 0;
    margin: 0 0.3em;
    border-bottom: 1px solid var(--dark-white-clr);
  }

  &__link {
    display: flex;
    align-items: center;
    padding: 0.4em;
    margin-left: 0.5rem;

    width: fit-content;
    font-size: 1.5rem;
    color: var(--dark-white-clr);

    &:hover {
      transition: 0.25s;
      cursor: pointer;
      color: var(--cyan-clr);
    }
  }
}

.user-avatar {
  width: 2.5rem;
}

// Cart
.cart__num-products {
  position: absolute;
  right: -3px;
  top: -3px;
  text-decoration: none;
  padding: 0.2em 0.3em;
  border-radius: 45px;

  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  color: var(--tiffany-blue-clr);
  background: var(--dark-black-clr);

  user-select: none;
}

// Category style
.category-section::before {
  position: absolute;
  float: left;
  width: 100%;
  height: 3em;
  content: "";
  display: block;
  top: -20px;
}

.category-section {
  position: absolute;
  left: 0;
  z-index: 5;
  top: 7.2rem;
  width: 100%;
  display: none;

  animation: growFromCenter 0.5s;

  .category-wrap {
    background: var(--dark-black-clr);
    border-radius: 5px;
  }
}

.util-nav {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
  margin-left: 1em;

  &__header {
    margin-bottom: 0.5em;
    padding-bottom: 0.2em;

    font-size: 1.8rem;
    font-weight: 500;
    color: var(--dark-white-clr);

    border-bottom: 1px solid var(--dark-white-clr);
  }

  &__list {
    color: var(--dark-white-clr);
    user-select: none;
    &.upper {
      margin-top: 0.3em;
    }
    &.lower {
      margin-top: 1em;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    margin-top: 0.3em;

    font-size: 1.6rem;
    font-weight: 400;
    color: var(--dark-white-clr);
    border-bottom: 1px solid var(--dark-black-clr);

    &:hover {
      width: 100%;
      transition: 0.5s;
      color: var(--turquoise-clr);
      border-bottom: 1px solid var(--turquoise-clr);
    }
  }
}

// Tablet style

.menu--tablet {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2rem;
  font-weight: 500;
  color: var(--dark-black-clr);
  padding: 1em;

  &:hover {
    cursor: pointer;
    color: var(--primary-clr);
  }

  &:hover .menu__dropdown--tablet {
    display: block;
  }
}

.menu__dropdown--tablet {
  display: none;
  position: absolute;
  z-index: 5;
  top: 3em;
  right: -2em;
  width: 12em;

  animation: fadeIn 0.5s;

  padding: 0.5em;
  font-size: 1.6rem;
  font-weight: 400;
  border-radius: 5px;
  background-color: var(--dark-black-clr);

  .dropdown__service {
    display: flex;
    flex-direction: column;

    border-bottom: 1px solid var(--primary-clr);

    &.last {
      border-bottom: none;
    }
  }

  &__element {
    margin: 0.5em 0 0.5em 1em;
    color: var(--dark-white-clr);

    &:hover {
      color: var(--tiffany-blue-clr);
    }
  }
}

// Mobile style
.btn-back-home {
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  color: var(--dark-black-clr);

  &:hover {
    transition: 1s;
    color: var(--primary-clr);
  }
}

.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2rem;
  font-weight: 500;
  color: var(--dark-black-clr);
  padding: 1em;

  &:hover {
    cursor: pointer;
    color: var(--primary-clr);
  }
}

.sidebar-wrap {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;

  width: 90%;
  height: 100vh;
  background: var(--dark-black-clr);
  border-radius: 3px;

  overflow-y: scroll !important;
  // sidebar animation
  &.active {
    animation: slideIn 0.5s;
  }

  &.inactive {
    animation: slideOut 0.5s;
  }

  .sidebar-header {
    padding: 1em 0;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 2rem;
    color: var(--tiffany-blue-clr);
    font-weight: 500;
    border-bottom: 1px solid var(--tiffany-blue-clr);

    &__title {
      width: 90%;
      user-select: none;
    }

    &__close {
      width: 10%;
      color: var(--tiffany-blue-clr);
      margin: 0.5em 0;

      &:hover {
        opacity: 0.5;
        cursor: pointer;
      }
    }
  }

  .sidebar-service {
    border-bottom: 1px solid var(--tiffany-blue-clr);

    &.last-service {
      border-bottom: 1px solid var(--dark-black-clr);
    }
    .service-list {
      display: flex;
      flex-direction: column;
    }

    .service-item {
      margin: 1em 1em 0.3em 1em;
      padding-bottom: 0.3em;
      color: var(--dark-white-clr);
      border-bottom: 1px solid var(--dark-black-clr);

      &:hover {
        cursor: pointer;
        transition: 0.25s;
        color: var(--tiffany-blue-clr);
        border-bottom: 1px solid var(--tiffany-blue-clr);
      }
    }
  }
}
