@use "../../styles/" as u;

.header--simplified {
  height: 4.5em;
  background-color: var(--dark-white-clr);
  display: flex;
  justify-content: center;
  align-items: center;

  // Responsive
  @include u.breakpoint("sm") {
    height: 7rem;
  }
}

.row-items-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col-items-center {
  display: flex;
  align-self: center;
  justify-content: center;
}
