@use "../../../styles/" as s;

.profile-wrap {
  position: relative;
  margin: 0;
}

.form-profile {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 1em;
}

.btn-announcement-block {
  display: flex;
  align-items: center;
}
.submit-btn {
  position: relative;
  border: none;
  border-radius: 5px;
  width: 10em;
  padding: 0.3em 0;

  &.active {
    animation: growFromCenter 0.25s;
    color: var(--very-dark-black-clr);
    background: var(--dark-gradient-2-clr);
    &:hover {
      opacity: 0.9;
      transition: 0.25s;
      cursor: pointer;
    }
  }

  &.inactive {
    cursor: default;
    user-select: none;
    color: var(--medium-black-clr);
    background: var(--light-grey-clr);
  }
}

.announcement {
  font-weight: 500;
  margin-left: 2em;

  &.loading {
    font-size: 2rem;
    color: var(--primary-clr);
  }
  &.success {
    color: var(--emerald-green-clr);
  }

  &.error {
    color: var(--pastel-red-clr);
  }
}
