@use "../util/" as u;
@use "../base/animation";

.back-home-btn {
  width: fit-content;
  background-color: transparent;
  text-decoration: none;
  color: var(--medium-black-clr);
  font-size: 1.7em;

  @include u.breakpoint(lg) {
    display: none;
  }
}

.submit-btn {
  background: var(--light-grey-clr);
  width: 100%;
  margin: 2em auto;
  height: 2.5em;
  border-radius: 0.5em;
  border: none;
  outline: none;
  font-size: 1.4rem;

  // Default style
  &.sign-up-type {
    pointer-events: none;
    cursor: default;
  }

  // Active animation
  &.sign-up-type.active {
    cursor: pointer;
    animation: spreadOut ease-in-out 0.25s;
    pointer-events: auto;
    color: var(--white-clr);
    background: var(--dark-gradient-4-clr);
  }

  &.sign-up-type.active:hover {
    filter: brightness(80%);
  }

  &.sign-in-type:hover {
    transition: 0.25s;
    color: var(--white-clr);
    background: var(--gradient-2-clr);
  }

  // Responsive
  @include u.breakpoint(md) {
    height: 2.5em;
    font-size: 1.6rem;
  }
  @include u.breakpoint(lg) {
    height: 3em;
    font-size: 1.6rem;
  }
}
