@use "./input_box";
@use "./buttons";
@use "../util/" as u;

.sign-up-form {
  display: flex;
  flex-direction: column;
  width: 90%;

  &__header {
    padding: 2em 0 1em 0;
    color: var(--white-clr);
    align-self: center;
    font-size: 1.5rem;
  }

  @include u.breakpoint(sm) {
    width: 85%;
    &__header {
      font-size: 2.5rem;
    }
  }

  @include u.breakpoint(md) {
    width: 80%;
    &__header {
      padding-top: 2em;
    }
  }
}
