@use "../../styles";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.1;
  margin: 0;
}

p {
  margin: 0;
}

a,
a:visited,
a:active,
a:hover {
  text-decoration: none;
  background-color: transparent;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background-clr);
  color: var(--text-clr);
}
