@use "../../styles/" as s;

// form style
.add-product-form-wrap {
  border: 2px solid var(--primary-clr);
  padding: 0.5em;
  margin: 0.5em 0.1em;
  border-radius: 5px;
}

.form-header {
  font-size: 2rem;
}

.form-wrap {
  margin: 0.5em 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  font-size: 1.6rem;
}

.form-control {
  outline: none;
  margin: 0 0.5em;
}

.btn-submit {
  padding: 0 0.5em;

  color: var(--medium-black-clr);
  background-color: (--light-grey-clr);
}
