@use "../layout/footer";
@use "../layout/header";
@use "../layout/wrapper";
@use "../components/form";
@use "../util" as u;

.sign-in-direction {
  color: var(--white-clr);
  font-size: 1rem;
  margin-bottom: 2em;

  &__link {
    color: var(--teal-clr);
    margin-left: 0.2em;
    font-size: 1.1rem;
    font-weight: 500;
    text-decoration: none;
    background-color: transparent;

    &:hover {
      color: var(--tiffany-blue-clr);
    }
  }

  @include u.breakpoint(sm) {
    font-size: 1.1rem;
    margin-bottom: 1.5em;
    padding-bottom: 0;

    &__link {
      font-size: 1.3rem;
    }
  }

  @include u.breakpoint(md) {
    font-size: 1.2rem;
    margin-bottom: 2em;

    &__link {
      font-size: 1.2rem;
    }
  }

  @include u.breakpoint(lg) {
    font-size: 1.3rem;
    margin-bottom: 2em;

    &__link {
      font-size: 1.5rem;
    }
  }
}
