@use "../../styles/" as s;

// General
.theme {
  background-color: var(--medium-black-clr);
  padding: 2em 0;
}

.row-cent {
  display: flex;
  justify-content: center;
}

.row-btw {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row-mg {
  margin: 1em 0;
}

.col-cent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.col-right {
  display: flex;
  justify-content: flex-end;
}

.col-no-gd {
  padding: 0;
  margin: 0;
}

.col-mg {
  margin-bottom: 1.5em;
}

.col-lg-none {
  display: block;

  @include s.breakpoint(lg) {
    display: none;
  }
}

.product-info {
  width: 100%;
  color: var(--light-grey-clr);
  font-weight: 500;

  &__name {
    color: var(--tiffany-blue-clr);
    font-size: 3rem;

    @include s.breakpoint(xxl) {
      font-size: 4rem;
    }
  }

  &__sku {
    font-size: 1.6rem;
  }

  &__price {
    font-size: 1.6rem;
    color: var(--gold-clr);
  }

  &__stock {
    font-size: 1.6rem;
    max-width: 10em;

    &.sold-out {
      color: var(--orange-red-clr);
    }
  }
}
