@use "../../styles/" as s;

.header {
  /* Position */
  text-align: center;
  padding-top: 2em;

  /* Style */
  font-size: 2.8rem;
  font-weight: 500;
  color: var(--light-grey-clr);
}

.form-body {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.switch-mode {
  display: block;
  text-align: center;
  margin-bottom: 2em;

  /* Styles */
  font-weight: 500;
  font-size: 1.4rem;
  color: var(--light-grey-clr);

  &__btn {
    display: inline-block;
    text-decoration: none;

    /* Style */
    color: var(--primary-clr);
    margin-left: 0.3em;

    &:hover {
      cursor: pointer;
      color: var(--tiffany-blue-clr);
    }
  }
}
