@use "../styles/" as s;

.row-cen {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-cen {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  height: 7rem;
  color: black;
  font-size: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-control {
  font-size: 1.6rem;
  line-height: 2rem;
  width: 20em;
  padding: 0.5em;
  margin: 1em 0;
}

.btn {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 0.6em 0;
  color: var(--primary-clr);
  background-color: var(--light-grey-clr);
  &-submit {
    font-weight: 500;

    &:hover {
      transition: 0.1s;
      color: var(--dark-white-clr);
      background-color: var(--primary-clr);
    }
  }
}
