@use "../../../styles/" as s;

.col-cent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-list-wrap {
  position: relative;
  width: 100%;
  font-size: 1.6rem;
}

.order-info-wrap {
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
}

.order-list {
  max-height: 22em;
  overflow: auto;
  overflow-x: hidden;
}

.order-record-wrap {
  border-bottom: 1px solid var(--grey-clr);
  padding: 0.5em 0;
  margin: 0;

  &.header {
    font-weight: 500;
    color: var(--primary-opacity-clr);
  }
}

.submit-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 1.4rem;
  color: var(--primary-opacity-clr);
}
