@use "../../styles/" as s;

.slick-dots {
  margin-top: 1em;
}

.slick-dots li button::before {
  font-size: 10px;
  color: var(--light-grey-clr);
  opacity: 0.7;
}

.slick-dots li.slick-active button::before {
  color: var(--turquoise-clr);
}
