@use "../../../styles/" as s;

.filter-wrap {
  font-weight: 500;
  padding: 0.5em;
}

.filter-title {
  text-align: center;
  border-bottom: 2px solid var(--grey-clr);
  padding-bottom: 0.3em;
  margin: 0 2em;

  &.active {
    transition: 0.5s ease-in-out;
    color: var(--primary-opacity-clr);
    border-bottom: 2px solid var(--primary-opacity-clr);
    pointer-events: none;
  }

  &.inactive {
    border-bottom: 2px solid var(--grey-clr);
    cursor: pointer;
  }
}
