@use "../../styles";

.wrapper {
  background-color: var(--dark-black-clr);
  padding: 1.5em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0.3em 0;

  color: var(--primary-opacity-clr);
}

.message {
  font-size: 1.6rem;
  color: var(--primary-opacity-clr);
}

.back-home-btn {
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 0.5em 1em;
  margin: 1em;
  font-weight: 500;

  color: var(--text-clr);
  background: var(--light-grey-clr);

  &:hover {
    transition: 0.15s;
    color: white;
    background: var(--dark-gradient-3-clr);
  }
}
