@use "../../styles" as s;

.wrapper {
  background-color: var(--very-dark-black-clr);
  padding: 1.5em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-wrap {
  position: relative;
  height: 0;
  width: 100%;
  padding-bottom: calc(0.3125 * 85%); // image ratio
}

.banner {
  width: 80%;
  height: auto;
  user-select: none;
  display: none;
  margin: auto;

  @include s.breakpoint(lg) {
    display: block;
  }
}

.header {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0.3em 0;

  color: var(--primary-opacity-clr);
}

.message {
  font-size: 1.6rem;
  color: var(--primary-opacity-clr);
}

.back-home-btn {
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 0.5em 1em;
  margin: 1em;
  font-weight: 500;

  color: var(--text-clr);
  background: var(--light-grey-clr);

  &:hover {
    transition: 0.5s;
    background: var(--dark-gradient-3-clr);
    color: white;
  }
}
