@use "./breakpoints" as bp;

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin text-gradient {
  background-image: var(--gradient-3-clr);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin breakpoint($size) {
  @media (min-width: map-get(bp.$breakpoints, $size)) {
    @content;
  }
}
