@use "../../../styles/" as s;

.row-mg {
  padding: 0.5em 0 0 0;
}

.row-cent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-cent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-cent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-wrap {
  position: relative;
  background: var(--very-dark-black-clr);
  color: var(--light-grey-clr);
  border-radius: 20px;
  width: 70%;
  padding: 2em;
}

.list-product-wrap {
  position: relative;
  height: 15em;
  width: 80%;
  padding: 0.5em 0;
  overflow: auto;
}

.item-wrap {
  position: relative;
  padding: 1em 0;
  background: transparent;
  border-bottom: 2px solid var(--light-grey-clr);
}

.img-side {
  width: 80%;
  border-radius: 10px;
}

.item__name {
  font-weight: 500;
  font-size: 1.4em;
  color: var(--primary-opacity-clr);
}

.item__variant {
  font-size: 1em;
  padding: 0.1em 0;
  margin-right: 1em;
}

.total-section {
  margin-top: 1.5em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: var(--gold-clr);
}

.btn-inactive {
  border: none;
  border-radius: 5px;
  margin-top: 1em;
  font-weight: 500;
  width: 10em;
  padding: 0.5em;

  &:hover {
    opacity: 0.8;
  }

  &.danger {
    background: var(--crimson-clr);
    color: var(--light-grey-clr);
  }
}

.dialog-wrap {
  display: flex;
  flex-direction: column;
  background: var(--very-dark-black-clr);
  color: var(--light-grey-clr);
  border-radius: 10px;
  padding: 2em;
}

.dialog-msg {
  color: var(--primary-opacity-clr);
  padding: 0 0 1em 0;
  text-align: center;
  font-size: 1em;
  font-weight: 500;
}

.btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirm-btn {
  border-radius: 5px;
  border: none;
  padding: 0.2em 2em;
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0 1em;

  &.agree {
    background-color: var(--primary-clr);
    color: var(--light-grey-clr);
  }
  &.disagree {
    background: var(--crimson-clr);
    color: var(--light-grey-clr);
  }
}
