@use "../../styles/" as s;

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
  border-bottom: 1px solid var(--tiffany-blue-clr);

  &.fixed {
    background-color: var(--background-clr);
    animation: slideDown 0.5s;
    width: 100%;
    position: fixed;
    z-index: 4;
  }
}
