@use "../../styles/" as s;

// General
.row-cent {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-cent {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-nav {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;

  font-size: 1.6em;

  &__item {
    position: relative;
    padding: 0.2em;
  }

  &__item.user:hover .user-options {
    display: block;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--medium-black-clr);

    &:hover {
      cursor: pointer;
      color: var(--primary-clr);
    }
  }
}

// Sub nav - user
.user-options::before {
  position: absolute;
  content: "";
  z-index: 5;
  display: block;
  width: 100%;
  height: 20px;
  top: -11px;
}

.user-options {
  @include s.reset-list;
  position: absolute;
  z-index: 5;
  top: 1.7em;
  left: -10px;
  display: flex;
  flex-direction: column;

  animation: growFromCenter 0.25s;

  width: 6em;
  border-radius: 5px;
  background: var(--opacity-black-clr);

  display: none;

  &__separate {
    padding: 0;
    margin: 0 0.3em;
    border-bottom: 1px solid var(--dark-white-clr);
  }

  &__link {
    display: flex;
    align-items: center;
    padding: 0.4em;
    margin-left: 0.5rem;

    width: fit-content;
    font-size: 1.5rem;
    color: var(--dark-white-clr);

    &:hover {
      transition: 0.25s;
      cursor: pointer;
      color: var(--cyan-clr);
    }
  }
}

.user-avatar {
  border-radius: 45px;
  width: 2.5rem;
  border: 2px solid var(--darker-black-clr);
}

.bell-dot {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.05em 0.2em 0 0;
  width: 0.5em;
  height: 0.5em;
  border: 0.1em solid var(--darker-black-clr);
  border-radius: 45px;
  background: var(--tiffany-blue-clr);
}

// Sub nav - cart
.cart__num-products {
  position: absolute;
  right: -3px;
  top: -3px;

  text-decoration: none;
  text-align: center;

  padding: 0.2em 0.4em;
  border-radius: 45px;

  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  color: var(--tiffany-blue-clr);
  background: var(--dark-black-clr);

  user-select: none;
}
