@use "../../../styles/" as s;
.row-mg {
  margin: 1em 0;
}

.col-cent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// product quantity section
.change-qty-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 150px;
}

.btn-change-qty {
  width: 2em;
  height: 2em;

  border: none;

  font-weight: 500;
  font-size: 1.6rem;
  background-color: var(--primary-clr);
  color: var(--light-grey-clr);

  &:hover {
    opacity: 0.8;
  }
}

.current-qty {
  width: 60%;
  color: var(--light-grey-clr);
  text-align: center;
  background: none;
  border: none;
}

.btn-user-action {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 500;

  background: var(--primary-clr);
  color: var(--light-grey-clr);
  width: 100%;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &.disable {
    cursor: default;
    background: var(--light-grey-clr);
    color: var(--medium-black-clr);

    &:hover {
      user-select: none;
      opacity: 1;
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5em;
    font-size: 2.5rem;
  }

  &__title {
    margin-right: 0.5em;
  }
}

// Description Section
.product-detail {
  color: var(--light-grey-clr);
}

.description__header {
  margin: 0.7em 0 0.3em 0;
  font-size: 2.5rem;
  font-weight: 500;
}
