@use "../layout/footer";
@use "../layout/header";
@use "../util" as u;
@use "../components/separator";
@use "../components/socials";
@use "../components/buttons";

.main {
  position: relative;
  max-height: 60em;

  &__background {
    padding-top: 50em;
    background-image: url("/images/login/login_bg.jpg");
    background-position: 50% 30%;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(1px) brightness(50%);

    @include u.breakpoint(md) {
      padding-top: 60em;
    }
  }

  &__wrap {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.lg-form {
  width: 100%;
  overflow: hidden;
  padding: 0;
  border-radius: 0.5em;
  -webkit-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);

  &__img {
    width: 0%;
    background-image: url("/images/login/login_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  &__wrap {
    position: relative;
    width: 100%;
    background-color: var(--white-opacity-clr);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /*
  * if screen size > sm. Show the login banner
  */
  @include u.breakpoint(md) {
    &__wrap {
      width: 50%;
      background-color: var(--white-clr);
    }

    &__img {
      width: 50%;
    }
  }
}

.form {
  &__heading {
    margin-top: 2.5em;
    text-align: center;

    @include u.breakpoint(sm) {
      margin-top: 3em;
    }

    @include u.breakpoint(lg) {
      margin-top: 4em;
    }

    &--primary {
      font-size: 2.5rem;
      font-weight: 500;

      @include u.breakpoint(sm) {
        font-size: 3.5rem;
      }

      @include u.breakpoint(md) {
        @include u.text-gradient;
      }

      @include u.breakpoint(lg) {
        font-size: 4rem;
      }
    }

    &--sub {
      margin: 0.5em;
      font-size: 1.2rem;

      @include u.breakpoint(sm) {
        font-size: 1.5rem;
      }

      @include u.breakpoint(md) {
        margin: 0.5em;
        color: var(--grey-clr);
      }

      @include u.breakpoint(lg) {
        margin: 1em;
      }
    }
  }

  &__input {
    align-self: center;
    width: 100%;
    padding: 0 0.5em;
    margin: 0;

    @include u.breakpoint(sm) {
      width: 90%;
    }

    @include u.breakpoint(md) {
      color: var(--grey-clr);
      padding: 0;
    }

    @include u.breakpoint(lg) {
      width: 80%;
      font-size: 2rem;
    }
  }

  &__group {
    position: relative;
    margin: 0 1em;
    height: 4em;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    color: var(--dark-black-clr);
    border-bottom: 1px solid var(--dark-black-clr);

    @include u.breakpoint(md) {
      color: var(--dark-grey-clr);
      border-bottom: 1px solid var(--light-grey-clr);
      height: 4em;
    }

    @include u.breakpoint(lg) {
      height: 4.5em;
    }

    &--field {
      position: absolute;
      top: 0.5em;
      height: 4em;
      border: none;
      outline: none;
      font-size: 1.2rem;
      background-color: transparent;
      width: 70%;

      @include u.breakpoint(sm) {
        font-size: 1.3rem;
        width: 80%;
      }

      @include u.breakpoint(md) {
        height: 4em;
        font-size: 1.3rem;
      }

      @include u.breakpoint(lg) {
        height: 4em;
        font-size: 1.5rem;
      }
    }

    &--label {
      position: absolute;
      top: 2em;
      font-size: 1.2rem;
      left: 0.1em;
      z-index: 1;

      @include u.breakpoint(md) {
        top: 2em;
        font-size: 1.2rem;
      }

      @include u.breakpoint(lg) {
        font-size: 1.5rem;
        top: 1.8em;
      }
    }

    &--hint {
      display: none;
      position: absolute;
      right: 1.2em;
      top: 2em;
      font-size: 1.2rem;
      cursor: pointer;

      @include u.breakpoint(md) {
        font-size: 1.3rem;
        right: 0.5em;
        top: 2em;
      }

      @include u.breakpoint(lg) {
        font-size: 1.4rem;
        top: 2em;
      }
    }

    & &--field:valid ~ &--hint {
      display: block;
    }

    &:focus-within {
      border-bottom: 1px solid var(--primary-clr);
    }

    & &--field:focus ~ &--label {
      top: 0.6em;
      font-size: 1rem;
      transition: 0.3s;

      @include u.breakpoint(md) {
        font-size: 1.1rem;
      }

      @include u.breakpoint(lg) {
        top: 0.4em;
        font-size: 1.3rem;
      }
    }

    & &--field:valid ~ &--label {
      top: 0.6em;
      font-size: 1rem;

      @include u.breakpoint(md) {
        font-size: 1.1rem;
      }

      @include u.breakpoint(lg) {
        top: 0.4em;
        font-size: 1.3rem;
      }
    }

    & &--field:focus,
    & &--field:valid {
      color: var(--primary-clr);
    }
  }

  &__user-action {
    width: 100%;
    user-select: none;
    text-align: end;
    font-size: 1rem;

    @include u.breakpoint(md) {
      font-size: 1.2rem;
    }

    @include u.breakpoint(lg) {
      font-size: 1.4rem;
    }

    &--forgot-pass {
      width: fit-content;
      padding: 1em;
      text-decoration: none;
      color: var(--primary-clr);

      &:hover {
        color: var(--primary-opacity-clr);
      }
    }
  }

  &__btn {
    text-align: center;
    font-size: 1.5rem;
    border-radius: 0.5em;
    margin: 1em;
  }
}

.sign-up__direction {
  font-size: 1.2rem;
  margin-bottom: 2em;
  user-select: none;

  @include u.breakpoint(md) {
    font-size: 1.2rem;
  }

  @include u.breakpoint(lg) {
    font-size: 1.4rem;
  }

  &--link {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--primary-clr);
    padding-left: 0.2em;

    @include u.breakpoint(lg) {
      font-size: 1.4rem;
    }

    @include u.breakpoint(lg) {
      font-size: 1.6rem;
    }

    &:hover {
      color: var(--primary-opacity-clr);
    }
  }
}
