@use "../../styles/" as s;

.dropdown-wrap {
  display: flex;
  flex-direction: column;
}

.dropdown-name {
  padding: 1em 0 0.5em 0;
}

.dropdown-list {
  color: var(--light-grey-clr);
  background: var(--very-dark-black-clr);
  border: 1px solid var(--grey-clr);
  border-radius: 5px;
  padding: 0.3em 0.8em;
}
