<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./assets/css/grid.css" />
    <style>
      * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }

      .brick {
        background-color: orange;
        padding: 20px;
        text-align: center;
        color: white;
        font-size: 30px;
        font-weight: 400;
      }
      @media (max-width: 1023px) {
        .brick {
          margin-top: 16px;
        }
      } ;
    </style>
    <title>Help Center</title>
  </head>
  <body>
    <div class="grid wide">
      <div class="row">
        <div class="col l-3 m-6 c-12">
          <div class="brick">Grid System</div>
        </div>
        <div class="col l-3 m-6 c-12">
          <div class="brick">Grid System</div>
        </div>
        <div class="col l-3 m-6 c-12">
          <div class="brick">Grid System</div>
        </div>
        <div class="col l-3 m-6 c-12">
          <div class="brick">Grid System</div>
        </div>
      </div>
    </div>
  </body>
</html>
