<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="./images/pa_favicon.png" />

    <!-- STYLE CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    />
    <link rel="stylesheet" href="./css/themify-icons.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/base.css" />
    <link rel="stylesheet" href="./css/main.css" />
    <title>Peggy Albert Shop</title>
  </head>

  <body>
    <div class="app">
      <header class="header">
        <div class="grid">
          <nav class="header__navbar">
            <ul class="header__navbar-list">
              <li class="header__navbar-item header__navbar-item--has-qr">
                <a
                  href="#"
                  class="header__navbar-item-link header__navbar-item--split"
                >
                  Download App
                </a>
                <div class="header__qr">
                  <img
                    src="./images/download-app-qr-code.png"
                    alt="QR code download app"
                    class="header__qr-img"
                  />
                  <div class="header__qr-apps">
                    <a href="#" class="header__qr-link">
                      <img
                        src="./images/google-play-icon.png"
                        alt="Google play download icon"
                        class="header__qr-download-img"
                      />
                    </a>
                    <a href="#" class="header__qr-link">
                      <img
                        src="./images/app-store-icon.png"
                        alt="Google play download icon"
                        class="header__qr-download-img"
                      />
                    </a>
                  </div>
                </div>
              </li>
              <li class="header__navbar-item">
                <span class="header__navbar-title-no-pointer"
                  >Follow us on</span
                >
                <a href="#" class="header__navbar-icon-link">
                  <i
                    class="header__navbar-icon fa-brands fa-facebook fa-xl"
                  ></i>
                </a>
                <a href="#" class="header__navbar-icon-link">
                  <i
                    class="header__navbar-icon fa-brands fa-instagram fa-xl"
                  ></i>
                </a>
              </li>
            </ul>
            <ul class="header__navbar-list">
              <li class="header__navbar-item header__navbar-item--has-notify">
                <a href="#" class="header__navbar-item-link">
                  <i class="header__navbar-icon fa-regular fa-bell fa-xl"></i>
                  Notifications
                </a>

                <div class="header__notify">
                  <header class="header__notify-header">
                    <h3>New notifications</h3>
                  </header>
                  <ul class="header__notify-list">
                    <il class="header__notify-item header__notify-item--viewed">
                      <a href="#notify" class="header__notify-link">
                        <img
                          src="https://down-vn.img.susercontent.com/file/8fc5e23d12f996ed50eafa8f96514f0e"
                          alt=""
                          class="header__notify-img"
                        />
                        <div class="header__notify-info">
                          <span class="header__notify-name"
                            >New dress product id: UD-12
                          </span>
                          <span class="header__notify-description">
                            Sweet style autumn bow turn-down collar long sleeve
                            dress woman black Ulzzang fashion brand Korean white
                            a-line dresses new.
                          </span>
                        </div>
                      </a>
                    </il>
                    <il class="header__notify-item">
                      <a href="#notify" class="header__notify-link">
                        <img
                          src="https://down-vn.img.susercontent.com/file/8fc5e23d12f996ed50eafa8f96514f0e"
                          alt=""
                          class="header__notify-img"
                        />
                        <div class="header__notify-info">
                          <span class="header__notify-name"
                            >New dress product id: UD-12
                          </span>
                          <span class="header__notify-description">
                            Sweet style autumn bow turn-down collar long sleeve
                            dress woman black ulzzang fashion brand Korean white
                            a-line dresses new.
                          </span>
                        </div>
                      </a>
                    </il>
                    <il class="header__notify-item">
                      <a href="#notify" class="header__notify-link">
                        <img
                          src="https://down-vn.img.susercontent.com/file/8fc5e23d12f996ed50eafa8f96514f0e"
                          alt=""
                          class="header__notify-img"
                        />
                        <div class="header__notify-info">
                          <span class="header__notify-name"
                            >New dress product id: UD-12
                          </span>
                          <span class="header__notify-description">
                            Sweet style autumn bow turn-down collar long sleeve
                          </span>
                        </div>
                      </a>
                    </il>
                  </ul>
                  <footer class="header__notify-footer">
                    <a href="#Total" class="header__notify-footer-btn">
                      View all
                    </a>
                  </footer>
                </div>
              </li>
              <li class="header__navbar-item">
                <i
                  class="header__navbar-icon fa-regular fa-circle-question fa-xl"
                ></i>
                Help
              </li>
              <li class="header__navbar-item">
                <a
                  href="/signup"
                  class="header__navbar-item-link header__navbar-item--bold header__navbar-item--split"
                >
                  Sign Up
                </a>
              </li>
              <li class="header__navbar-item">
                <a
                  href="login"
                  class="header__navbar-item-link header__navbar-item--bold"
                >
                  Login
                </a>
              </li>
              <!-- <li class="header__navbar-item header__navbar-user">
                <img
                  src="./images/male_default_icon.jpg"
                  alt="avatar"
                  class="header__navbar-user-img"
                />
                <span class="header__navbar-user-name">Daniel Ngo</span>

                <ul class="header__navbar-user-menu">
                  <li class="header__navbar-user-item">
                    <a href="#account_info"> Your Account </a>
                  </li>
                  <li class="header__navbar-user-item">
                    <a href="#account_info"> Favorite </a>
                  </li>
                  <li class="header__navbar-user-item">
                    <a href="#account_info"> My Purchases </a>
                  </li>
                  <li
                    class="header__navbar-user-item header__navbar-user-item--separate"
                  >
                    <a href="#setting">Logout</a>
                  </li>
                </ul>
              </li> -->
            </ul>
          </nav>

          <!-- Header with search -->
          <div class="header-with-search">
            <div class="header__logo">
              <a href="/" class="header__logo-link">
                <img
                  src="./images/pa-shop-logo.png"
                  alt="Peggy Albert Shop Logo"
                  class="header__logo-img"
                />
              </a>
            </div>

            <!-- Search layout -->
            <div class="header__search">
              <button class="header__search-btn">
                <i
                  class="header__search-btn-icon fa-sharp fa-solid fa-magnifying-glass"
                ></i>
              </button>
              <div class="header__search-input-wrap">
                <input
                  type="text"
                  class="header__search-input"
                  placeholder="Find product"
                />

                <!-- Search history -->
                <div class="header__search-history">
                  <h3 class="header__search-history-heading">Search history</h3>
                  <ul class="header__search-history-list">
                    <li class="header__search-history-item">
                      <a href="#" class="">crop top</a>
                    </li>
                    <li class="header__search-history-item">
                      <a href="#" class="">ullzang dress</a>
                    </li>
                    <li class="header__search-history-item">
                      <a href="#" class="">shirt</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <!-- Cart layout -->
            <div class="header__cart">
              <div class="header__cart-wrap">
                <i class="header__cart-icon fa-solid fa-cart-shopping"></i>
                <span class="header__cart-notice">3</span>

                <div class="header__cart-list">
                  <!-- No cart cart: header__cart-list--no-cart-->
                  <img
                    src="./images/empty-cart.png"
                    alt="No cart"
                    class="header__cart-no-cart-img"
                  />
                  <span class="header__cart-list-no-cart-msg"
                    >No products yet</span
                  >
                  <span class="header__cart-heading">Product</span>
                  <ul class="header__cart-list-items">
                    <!-- Cart item -->
                    <li class="header__cart-item">
                      <img
                        src="./images/sp_demo.jpg"
                        alt="Sp demo"
                        class="header__cart-item-img"
                      />
                      <div class="header__cart-item-info">
                        <div class="header__cart-item-head">
                          <span class="header__cart-item-name">
                            Sweet style autumn bow turn-down collar long sleeve
                            dress woman black Ulzzang fashion brand Korean white
                            a-line dresses new.
                          </span>
                          <div class="header__cart-item-price-wrap">
                            <span class="header__cart-item-price"
                              >200.000d</span
                            >
                            <span class="header__cart-item-multiply">x</span>
                            <span class="header__cart-item-qty">2</span>
                          </div>
                        </div>
                        <div class="header__cart-item-body">
                          <span class="header__cart-item-desc"
                            >Color: Black</span
                          >
                          <span class="header__cart-item-remove">Remove</span>
                        </div>
                      </div>
                    </li>
                    <li class="header__cart-item">
                      <img
                        src="./images/sp_demo.jpg"
                        alt="Sp demo"
                        class="header__cart-item-img"
                      />
                      <div class="header__cart-item-info">
                        <div class="header__cart-item-head">
                          <span class="header__cart-item-name">
                            Ulzzang dress
                          </span>
                          <div class="header__cart-item-price-wrap">
                            <span class="header__cart-item-price"
                              >200.000d</span
                            >
                            <span class="header__cart-item-multiply">x</span>
                            <span class="header__cart-item-qty">2</span>
                          </div>
                        </div>
                        <div class="header__cart-item-body">
                          <span class="header__cart-item-desc"
                            >Color: Black</span
                          >
                          <span class="header__cart-item-remove">Remove</span>
                        </div>
                      </div>
                    </li>
                    <li class="header__cart-item">
                      <img
                        src="./images/sp_demo.jpg"
                        alt="Sp demo"
                        class="header__cart-item-img"
                      />
                      <div class="header__cart-item-info">
                        <div class="header__cart-item-head">
                          <span class="header__cart-item-name">
                            Ulzzang dress
                          </span>
                          <div class="header__cart-item-price-wrap">
                            <span class="header__cart-item-price"
                              >200.000d</span
                            >
                            <span class="header__cart-item-multiply">x</span>
                            <span class="header__cart-item-qty">2</span>
                          </div>
                        </div>
                        <div class="header__cart-item-body">
                          <span class="header__cart-item-desc"
                            >Color: Black</span
                          >
                          <span class="header__cart-item-remove">Remove</span>
                        </div>
                      </div>
                    </li>
                    <li class="header__cart-item">
                      <img
                        src="./images/sp_demo.jpg"
                        alt="Sp demo"
                        class="header__cart-item-img"
                      />
                      <div class="header__cart-item-info">
                        <div class="header__cart-item-head">
                          <span class="header__cart-item-name">
                            Ulzzang dress
                          </span>
                          <div class="header__cart-item-price-wrap">
                            <span class="header__cart-item-price"
                              >200.000d</span
                            >
                            <span class="header__cart-item-multiply">x</span>
                            <span class="header__cart-item-qty">2</span>
                          </div>
                        </div>
                        <div class="header__cart-item-body">
                          <span class="header__cart-item-desc"
                            >Color: Black</span
                          >
                          <span class="header__cart-item-remove">Remove</span>
                        </div>
                      </div>
                    </li>
                    <li class="header__cart-item">
                      <img
                        src="./images/sp_demo.jpg"
                        alt="Sp demo"
                        class="header__cart-item-img"
                      />
                      <div class="header__cart-item-info">
                        <div class="header__cart-item-head">
                          <span class="header__cart-item-name">
                            Ulzzang dress
                          </span>
                          <div class="header__cart-item-price-wrap">
                            <span class="header__cart-item-price"
                              >200.000d</span
                            >
                            <span class="header__cart-item-multiply">x</span>
                            <span class="header__cart-item-qty">2</span>
                          </div>
                        </div>
                        <div class="header__cart-item-body">
                          <span class="header__cart-item-desc"
                            >Color: Black</span
                          >
                          <span class="header__cart-item-remove">Remove</span>
                        </div>
                      </div>
                    </li>
                    <li class="header__cart-item">
                      <img
                        src="./images/sp_demo.jpg"
                        alt="Sp demo"
                        class="header__cart-item-img"
                      />
                      <div class="header__cart-item-info">
                        <div class="header__cart-item-head">
                          <span class="header__cart-item-name">
                            Ulzzang dress
                          </span>
                          <div class="header__cart-item-price-wrap">
                            <span class="header__cart-item-price"
                              >200.000d</span
                            >
                            <span class="header__cart-item-multiply">x</span>
                            <span class="header__cart-item-qty">2</span>
                          </div>
                        </div>
                        <div class="header__cart-item-body">
                          <span class="header__cart-item-desc"
                            >Color: Black</span
                          >
                          <span class="header__cart-item-remove">Remove</span>
                        </div>
                      </div>
                    </li>
                  </ul>
                  <footer class="footer__cart-list">
                    <a href="#Cart" class="footer__cart-list-btn">
                      View cart
                    </a>
                  </footer>
                </div>
              </div>
            </div>
          </div>
        </div>
        <nav class="primary__navbar">
          <ul class="primary__navbar-list">
            <li class="primary__navbar-item">
              <a href="#newin" class="primary__navbar-item-link"> NEW IN </a>
              <p class="primary__navbar-item-active"></p>
            </li>
            <li class="primary__navbar-item">
              <a href="#newin" class="primary__navbar-item-link"> LOOK BOOK </a>
              <p class="primary__navbar-item-active"></p>
            </li>
            <li class="primary__navbar-item primary__nav-item-category">
              <a href="#newin" class="primary__navbar-item-link"> CATEGORY </a>
              <p class="primary__navbar-item-active"></p>
              <ul class="sub__navbar-list">
                <li class="sub__navbar-item">
                  <a href="#Blazer" class="sub__navbar-item-link"> Blazer </a>
                </li>
                <li class="sub__navbar-item">
                  <a href="#Blazer" class="sub__navbar-item-link"> Polo </a>
                </li>
                <li class="sub__navbar-item">
                  <a href="#Blazer" class="sub__navbar-item-link"> Blouse </a>
                </li>
                <li class="sub__navbar-item">
                  <a href="#Blazer" class="sub__navbar-item-link"> Crop top </a>
                </li>
                <li class="sub__navbar-item">
                  <a href="#Blazer" class="sub__navbar-item-link"> Dress </a>
                </li>
                <li class="sub__navbar-item">
                  <a href="#Blazer" class="sub__navbar-item-link"> Skirt </a>
                </li>
                <li class="sub__navbar-item">
                  <a href="#Blazer" class="sub__navbar-item-link"> Shorts </a>
                </li>
                <li class="sub__navbar-item">
                  <a href="#Blazer" class="sub__navbar-item-link"> Flared </a>
                </li>
              </ul>
            </li>
            <li class="primary__navbar-item primary__nav-item-outfit">
              <a href="#newin" class="primary__navbar-item-link">
                OUTFIT SETS
              </a>
              <p class="primary__navbar-item-active"></p>
              <ul class="sub__navbar-list">
                <li class="sub__navbar-item">
                  <a href="#Blazer" class="sub__navbar-item-link"> Office </a>
                </li>
                <li class="sub__navbar-item">
                  <a href="#Blazer" class="sub__navbar-item-link"> Casual </a>
                </li>
                <li class="sub__navbar-item">
                  <a href="#Blazer" class="sub__navbar-item-link">
                    Street wear
                  </a>
                </li>
                <li class="sub__navbar-item">
                  <a href="#Blazer" class="sub__navbar-item-link">
                    Season wear
                  </a>
                </li>
                <li class="sub__navbar-item">
                  <a href="#Blazer" class="sub__navbar-item-link"> Party </a>
                </li>
              </ul>
            </li>
            <li class="primary__navbar-item">
              <a href="#newin" class="primary__navbar-item-link"> BLOG </a>
              <p class="primary__navbar-item-active"></p>
            </li>
            <li class="primary__navbar-item">
              <a href="#newin" class="primary__navbar-item-link">STORE </a>
              <p class="primary__navbar-item-active"></p>
            </li>
          </ul>
        </nav>
      </header>
      <main class="main">
        <div class="grid">
          <!-- Slideshow container -->
          <section class="carousel">
            <button class="btn--prev ti-angle-left"></button>
            <button class="btn--next ti-angle-right"></button>

            <div class="slides">
              <!-- Slide img -->
              <div class="slide active"></div>
              <div class="slide"></div>
              <div class="slide"></div>
              <div class="slide"></div>
            </div>
          </section>
          <section class="category">
            <div class="category__heading">Category</div>
            <ul class="category-list">
              <li class="category-item category-item--blazer">
                <img
                  src="./images/category/blazer_poster.jpg"
                  alt="blazer"
                  class="category-item__img"
                />
                <a href="#" class="category-item__link"> Blazer </a>
              </li>
              <li class="category-item">
                <img
                  src="./images/category/polo_poster.jpg"
                  alt="polo"
                  class="category-item__img"
                />
                <a href="#" class="category-item__link"> Polo </a>
              </li>
              <li class="category-item">
                <img
                  src="./images/category/blouse_poster.jpg"
                  alt="blouse"
                  class="category-item__img"
                />
                <a href="#" class="category-item__link"> Blouse </a>
              </li>
              <li class="category-item">
                <img
                  src="./images/category/croptop_poster.jpg"
                  alt=""
                  class="category-item__img"
                />
                <a href="#" class="category-item__link"> Crop top</a>
              </li>
              <li class="category-item">
                <img
                  src="./images/category/dress_poster.jpg"
                  alt=""
                  class="category-item__img"
                />
                <a href="#" class="category-item__link"> Dress </a>
              </li>
              <li class="category-item">
                <img
                  src="./images/category/skirt_poster.jpg"
                  alt=""
                  class="category-item__img"
                />
                <a href="#" class="category-item__link"> Skirt </a>
              </li>
              <li class="category-item">
                <img
                  src="./images/category/shorts_poster.jpg"
                  alt=""
                  class="category-item__img"
                />
                <a href="#" class="category-item__link">Shorts</a>
              </li>
              <li class="category-item">
                <img
                  src="./images/category/flared_poster.jpg"
                  alt=""
                  class="category-item__img"
                />
                <a href="#" class="category-item__link"> Flared</a>
              </li>
            </ul>
          </section>
          <section class="new-products">
            <div class="new-products__heading">New Products</div>
            <div class="grid__row">
              <div class="grid__col-3">
                <div class="product">
                  <div class="product__upper-wrapper">
                    <a href="#" class="product__link">
                      <div
                        class="product__img"
                        style="
                          background-image: url('/images/new_products/temp_product1.jpg');
                        "
                      ></div>
                      <div class="product__name">
                        Áo vest form dài 2 túi phối gile
                      </div>
                    </a>
                    <div class="product__wishlist">
                      <span
                        class="product__wishlist-action product__wishlist-added"
                      >
                        <i
                          class="product__wishlist-add-icon fa-solid fa-heart"
                        ></i>
                        <i
                          class="product__wishlist-remove-icon fa-regular fa-heart"
                        ></i>
                      </span>
                    </div>
                    <div class="product__sale-off">
                      <span class="product__sale-off-percent">10%</span>
                      <span class="product__sale-off-label">Sale off</span>
                    </div>
                  </div>
                  <div class="product__lower-wrapper">
                    <div class="product__price">
                      <span class="product__price-label">Price:</span>
                      <span class="product__price-old">950.000đ</span>
                      <span class="product__price-new">550.000đ</span>
                    </div>
                    <div class="product__consume">
                      <div class="product__rating">
                        <span class="product__rating-label">Ratings:</span>
                        <i
                          class="product__rate-star--gold fa-solid fa-star"
                        ></i>
                        <i
                          class="product__rate-star--gold fa-solid fa-star"
                        ></i>
                        <i
                          class="product__rate-star--gold fa-solid fa-star"
                        ></i>
                        <i
                          class="product__rate-star--gold fa-solid fa-star"
                        ></i>
                        <i class="fa-solid fa-star"></i>
                        <span class="product__rate-times">(1)</span>
                      </div>
                      <div class="product__sold">Sold: 8888</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="grid__col-3">
                <div class="product">
                  <div class="product__upper-wrapper">
                    <a href="#" class="product__link">
                      <div
                        class="product__img"
                        style="
                          background-image: url('/images/new_products/temp_product2.jpg');
                        "
                      ></div>
                      <div class="product__name">
                        Áo vest form dài 2 túi phối gile
                      </div>
                    </a>
                    <div class="product__wishlist">
                      <span
                        class="product__wishlist-action product__wishlist-added"
                      >
                        <i
                          class="product__wishlist-add-icon fa-solid fa-heart"
                        ></i>
                        <i
                          class="product__wishlist-remove-icon fa-regular fa-heart"
                        ></i>
                      </span>
                    </div>
                    <div class="product__sale-off">
                      <span class="product__sale-off-percent">10%</span>
                      <span class="product__sale-off-label">Sale off</span>
                    </div>
                  </div>
                  <div class="product__lower-wrapper">
                    <div class="product__price">
                      <span class="product__price-label">Price:</span>
                      <span class="product__price-old">950.000đ</span>
                      <span class="product__price-new">550.000đ</span>
                    </div>
                    <div class="product__consume">
                      <div class="product__rating">
                        <span class="product__rating-label">Ratings:</span>
                        <i
                          class="product__rate-star--gold fa-solid fa-star"
                        ></i>
                        <i
                          class="product__rate-star--gold fa-solid fa-star"
                        ></i>
                        <i
                          class="product__rate-star--gold fa-solid fa-star"
                        ></i>
                        <i
                          class="product__rate-star--gold fa-solid fa-star"
                        ></i>
                        <i class="fa-solid fa-star"></i>
                        <span class="product__rate-times">(1)</span>
                      </div>
                      <div class="product__sold">Sold: 8888</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="grid__col-3">
                <div class="product">
                  <div class="product__upper-wrapper">
                    <a href="#" class="product__link">
                      <div
                        class="product__img"
                        style="
                          background-image: url('/images/new_products/temp_product3.jpg');
                        "
                      ></div>
                      <div class="product__name">
                        Áo vest form dài 2 túi phối gile
                      </div>
                    </a>
                    <div class="product__wishlist">
                      <span
                        class="product__wishlist-action product__wishlist-added"
                      >
                        <i
                          class="product__wishlist-add-icon fa-solid fa-heart"
                        ></i>
                        <i
                          class="product__wishlist-remove-icon fa-regular fa-heart"
                        ></i>
                      </span>
                    </div>
                    <div class="product__sale-off">
                      <span class="product__sale-off-percent">10%</span>
                      <span class="product__sale-off-label">Sale off</span>
                    </div>
                  </div>
                  <div class="product__lower-wrapper">
                    <div class="product__price">
                      <span class="product__price-label">Price:</span>
                      <span class="product__price-old">950.000đ</span>
                      <span class="product__price-new">550.000đ</span>
                    </div>
                    <div class="product__consume">
                      <div class="product__rating">
                        <span class="product__rating-label">Ratings:</span>
                        <i
                          class="product__rate-star--gold fa-solid fa-star"
                        ></i>
                        <i
                          class="product__rate-star--gold fa-solid fa-star"
                        ></i>
                        <i
                          class="product__rate-star--gold fa-solid fa-star"
                        ></i>
                        <i
                          class="product__rate-star--gold fa-solid fa-star"
                        ></i>
                        <i class="fa-solid fa-star"></i>
                        <span class="product__rate-times">(1)</span>
                      </div>
                      <div class="product__sold">Sold: 8888</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="grid__col-3">
                <div class="product">
                  <div class="product__upper-wrapper">
                    <a href="#" class="product__link">
                      <div
                        class="product__img"
                        style="
                          background-image: url('/images/new_products/temp_product4.jpg');
                        "
                      ></div>
                      <div class="product__name">
                        Áo vest form dài 2 túi phối gile
                      </div>
                    </a>
                    <div class="product__wishlist">
                      <span
                        class="product__wishlist-action product__wishlist-added"
                      >
                        <i
                          class="product__wishlist-add-icon fa-solid fa-heart"
                        ></i>
                        <i
                          class="product__wishlist-remove-icon fa-regular fa-heart"
                        ></i>
                      </span>
                    </div>
                    <div class="product__sale-off">
                      <span class="product__sale-off-percent">10%</span>
                      <span class="product__sale-off-label">Sale off</span>
                    </div>
                  </div>
                  <div class="product__lower-wrapper">
                    <div class="product__price">
                      <span class="product__price-label">Price:</span>
                      <span class="product__price-old">950.000đ</span>
                      <span class="product__price-new">550.000đ</span>
                    </div>
                    <div class="product__consume">
                      <div class="product__rating">
                        <span class="product__rating-label">Ratings:</span>
                        <i
                          class="product__rate-star--gold fa-solid fa-star"
                        ></i>
                        <i
                          class="product__rate-star--gold fa-solid fa-star"
                        ></i>
                        <i
                          class="product__rate-star--gold fa-solid fa-star"
                        ></i>
                        <i
                          class="product__rate-star--gold fa-solid fa-star"
                        ></i>
                        <i class="fa-solid fa-star"></i>
                        <span class="product__rate-times">(1)</span>
                      </div>
                      <div class="product__sold">Sold: 8888</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="grid__col-3">
                <div class="product">
                  <div class="product__upper-wrapper">
                    <a href="#" class="product__link">
                      <div
                        class="product__img"
                        style="
                          background-image: url('/images/new_products/temp_product5.jpg');
                        "
                      ></div>
                      <div class="product__name">
                        Áo vest form dài 2 túi phối gile
                      </div>
                    </a>
                    <div class="product__wishlist">
                      <span class="product__wishlist-action">
                        <i
                          class="product__wishlist-add-icon fa-solid fa-heart"
                        ></i>
                        <i
                          class="product__wishlist-remove-icon fa-regular fa-heart"
                        ></i>
                      </span>
                    </div>
                    <div class="product__sale-off">
                      <span class="product__sale-off-percent">10%</span>
                      <span class="product__sale-off-label">Sale off</span>
                    </div>
                  </div>
                  <div class="product__lower-wrapper">
                    <div class="product__price">
                      <span class="product__price-label">Price:</span>
                      <span class="product__price-old">950.000đ</span>
                      <span class="product__price-new">550.000đ</span>
                    </div>
                    <div class="product__consume">
                      <div class="product__rating">
                        <span class="product__rating-label">Ratings:</span>
                        <i
                          class="product__rate-star--gold fa-solid fa-star"
                        ></i>
                        <i
                          class="product__rate-star--gold fa-solid fa-star"
                        ></i>
                        <i
                          class="product__rate-star--gold fa-solid fa-star"
                        ></i>
                        <i
                          class="product__rate-star--gold fa-solid fa-star"
                        ></i>
                        <i class="fa-solid fa-star"></i>
                        <span class="product__rate-times">(12)</span>
                      </div>
                      <div class="product__sold">Sold: 8888</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <ul class="pagination homepage__pagination">
            <li class="pagination-item">
              <a href="" class="pagination-item__link">
                <i class="pagination-item__icon fas fa-angle-left"></i>
              </a>
            </li>
            <li class="pagination-item pagination-item--active">
              <a href="" class="pagination-item__link">1</a>
            </li>
            <li class="pagination-item">
              <a href="" class="pagination-item__link">2</a>
            </li>
            <li class="pagination-item">
              <a href="" class="pagination-item__link">3</a>
            </li>
            <li class="pagination-item">
              <a href="" class="pagination-item__link">4</a>
            </li>
            <li class="pagination-item">
              <a href="" class="pagination-item__link">5</a>
            </li>
            <li class="pagination-item">
              <a href="" class="pagination-item__link">...</a>
            </li>
            <li class="pagination-item">
              <a href="" class="pagination-item__link">14</a>
            </li>
            <li class="pagination-item">
              <a href="" class="pagination-item__link">
                <i class="pagination-item__icon fas fa-angle-right"></i>
              </a>
            </li>
          </ul>
        </div>
      </main>
      <footer class="footer">
        <div class="grid">
          <div class="grid__row">
            <div class="grid__col-2-4">
              <span class="footer__heading">Customer Service </span>
              <ul class="footer-list">
                <li class="footer-item">
                  <a href="#" class="footer-item__link"> Help Centre </a>
                </li>
                <li class="footer-item">
                  <a href="#" class="footer-item__link"> Payment </a>
                </li>
                <li class="footer-item">
                  <a href="#" class="footer-item__link"> Blog </a>
                </li>
                <li class="footer-item">
                  <a href="#" class="footer-item__link"> How To Buy </a>
                </li>
                <li class="footer-item">
                  <a href="#" class="footer-item__link"> How To Sell </a>
                </li>
              </ul>
            </div>
            <div class="grid__col-2-4">
              <span class="footer__heading">About Peggy Albert </span>
              <ul class="footer-list">
                <li class="footer-item">
                  <a href="#" class="footer-item__link"> About Us </a>
                </li>
                <li class="footer-item">
                  <a href="#" class="footer-item__link"> Careers </a>
                </li>
                <li class="footer-item">
                  <a href="#" class="footer-item__link"> PA Policy </a>
                </li>
                <li class="footer-item">
                  <a href="#" class="footer-item__link"> Flash Deals </a>
                </li>
                <li class="footer-item">
                  <a href="#" class="footer-item__link"> Store </a>
                </li>
              </ul>
            </div>
            <div class="grid__col-2-4">
              <span class="footer__heading">Follow Us </span>
              <ul class="footer-list">
                <li class="footer-item">
                  <a href="#" class="footer-item__link">
                    <i
                      class="footer-item__icon fa-brands fa-square-facebook"
                    ></i>
                    Instagram
                  </a>
                </li>
                <li class="footer-item">
                  <a href="#" class="footer-item__link">
                    <i class="footer-item__icon fa-brands fa-instagram"></i>
                    Facebook
                  </a>
                </li>
                <li class="footer-item">
                  <a href="#" class="footer-item__link">
                    <i class="footer-item__icon fa-brands fa-linkedin"></i>
                    Link-in
                  </a>
                </li>
              </ul>
            </div>
            <div class="grid__col-2-4">
              <span class="footer__heading">APP Download</span>
              <div class="footer__download">
                <img
                  src="./images/download-app-qr-code.png"
                  alt="qr code to download APP"
                  class="footer__download-app--qr"
                />
                <div class="footer__download-app">
                  <a href="#" class="footer__download-app-link">
                    <img
                      src="./images/google-play-icon.png"
                      alt="gg play download"
                      class="footer__download-app--img"
                    />
                  </a>
                  <a href="#" class="footer__download-app-link">
                    <img
                      src="./images/app-store-icon.png"
                      alt="app-store-icon download"
                      class="footer__download-app--img"
                    />
                  </a>
                </div>
              </div>
            </div>
            <div class="grid__col-2-4">
              <span class="footer__heading">
                Subscribe to receive discounts
              </span>
              <div class="footer__subscribe-form">
                <span class="subscribe__heading">
                  Please enter your email here to receive the latest fashion
                  trends and promotions from Peggy Albert.
                </span>
                <form action="POST" class="subscribe-form">
                  <input
                    type="email"
                    name="email"
                    class="subscribe-email"
                    placeholder="Your email"
                    required
                  />
                  <input
                    type="submit"
                    class="subscribe-btn text_gradient"
                    value="Subscribe"
                  />
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="footer_bottom">
          <div class="grid">
            <span class="footer__copyright">
              &copy;2023 Peggy Albert Shop. All Rights Reserved.
            </span>
          </div>
        </div>
      </footer>
    </div>
  </body>
  <script
    src="https://kit.fontawesome.com/0ef418b93e.js"
    crossorigin="anonymous"
  ></script>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="./js/carousel.js"></script>
</html>
